
.down{
  height:8vh;
  
}
.containers{
  max-width: 1000px;
  margin: 0 auto;
  
  min-height: 600px;
  border: 8px dashed green;
  container-type:inline-size; 

}
.layout{
  min-height: 600px;
  border: 8px dashed rgb(107, 128, 0);

}
  
@container (min-width: 700px){
  .layout{
    display: grid;
    grid-template-columns:2fr 2fr;
    grid-gap:1rem;
  }
}
article{
  min-height: 600px;
  width: 400px;
  
 
  
  
  border: 8px dashed rgb(15, 17, 5);


}
main{
  min-height: 600px;
  width: 450px;
  border: 8px dashed gold;
}
.col-6{
  
  justify-content: space-evenly;

}
.room1{
  width:70%;
  margin-left:15%;
  margin-top: 8%;
  
}
.card{
  margin-top: 14%;
  margin-left: 14%;
  border:8px  shadowed
}

